<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaohong.lease.web.admin.mapper.LeaseAgreementMapper">

    <resultMap id="agreementVoMap" type="com.xiaohong.lease.web.admin.vo.agreement.AgreementVo" autoMapping="true">
        <id property="id" column="id"/>
        <association property="apartmentInfo" javaType="com.xiaohong.lease.model.entity.ApartmentInfo" autoMapping="true">
            <id property="id" column="apartment_id"/>
            <result property="name" column="apartment_name"/>
        </association>
        <association property="roomInfo" javaType="com.xiaohong.lease.model.entity.RoomInfo" autoMapping="true">
            <id property="id" column="room_id"/>
        </association>
        <association property="paymentType" javaType="com.xiaohong.lease.model.entity.PaymentType" autoMapping="true">
            <id property="id" column="payment_type_id"/>
            <result property="name" column="payment_type_name"/>
        </association>
        <association property="leaseTerm" javaType="com.xiaohong.lease.model.entity.LeaseTerm" autoMapping="true">
            <id property="id" column="lease_term_id"/>
        </association>
    </resultMap>

    <resultMap id="BaseResultMap" type="com.xiaohong.lease.model.entity.LeaseAgreement">
        <id property="id" column="id"/>
        <result property="phone" column="phone"/>
        <result property="name" column="name"/>
        <result property="identificationNumber" column="identification_number"/>
        <result property="apartmentId" column="apartment_id"/>
        <result property="roomId" column="room_id"/>
        <result property="leaseStartDate" column="lease_start_date"/>
        <result property="leaseEndDate" column="lease_end_date"/>
        <result property="leaseTermId" column="lease_term_id"/>
        <result property="rent" column="rent"/>
        <result property="deposit" column="deposit"/>
        <result property="paymentTypeId" column="payment_type_id"/>
        <result property="status" column="status"/>
        <result property="sourceType" column="source_type"/>
        <result property="additionalInfo" column="additional_info"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <select id="pageItem" resultMap="agreementVoMap">
        select la.id,
               la.phone,
               la.name,
               la.identification_number,
               la.lease_start_date,
               la.lease_end_date,
               la.rent,
               la.deposit,
               la.status,
               la.source_type,
               la.additional_info,
               ai.id   apartment_id,
               ai.name apartment_name,
               ai.district_id,
               ai.district_name,
               ai.city_id,
               ai.city_name,
               ai.province_id,
               ai.province_name,
               ri.id   room_id,
               ri.room_number,
               pt.id   payment_type_id,
               pt.name payment_type_name,
               pt.pay_month_count,
               lt.id   lease_term_id,
               lt.month_count,
               lt.unit
        from lease_agreement la
                 left join apartment_info ai on la.apartment_id = ai.id
                 left join room_info ri on la.room_id = ri.id
                 left join payment_type pt on la.payment_type_id = pt.id
                 left join lease_term lt on la.lease_term_id = lt.id
                <where>
                    la.is_deleted = 0
                    <if test="queryVo.provinceId != null">
                        and ai.province_id = #{queryVo.provinceId}
                    </if>
                    <if test="queryVo.cityId != null">
                        and ai.city_id = #{queryVo.cityId}
                    </if>
                    <if test="queryVo.districtId != null">
                        and ai.district_id = #{queryVo.districtId}
                    </if>
                    <if test="queryVo.apartmentId != null">
                        and la.apartment_id = #{queryVo.apartmentId}
                    </if>
                    <if test="queryVo.roomNumber != null and queryVo.roomNumber != ''">
                        and ri.room_number like '%${queryVo.roomNumber}%'
                    </if>
                    <if test="queryVo.name != null and queryVo.name != ''">
                        and la.name like '%${queryVo.name}%'
                    </if>
                    <if test="queryVo.phone != null and queryVo.phone != ''">
                        and la.phone like '%${queryVo.phone}%'
                    </if>
                </where>
    </select>

    <!-- 查询即将到期的租约 -->
    <select id="selectExpiringLeases" resultMap="BaseResultMap">
        SELECT * FROM lease_agreement
        WHERE is_deleted = 0
          AND lease_end_date &lt;= #{targetDate}
          AND status IN
        <foreach collection="statuses" item="status" open="(" separator="," close=")">
            #{status.code}
        </foreach>
        ORDER BY lease_end_date ASC
    </select>

</mapper>
